<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header"/>
<body>

<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader"/>
    <div>
        <div>
            <form th:object="${cardSearch}" class="form-inline">
                <div class="form-group mb-2">
                    <input type="text" th:field="*{cardNumber}" class="form-control" placeholder="카드번호"/>
                </div>
                <button type="submit" class="btn btn-primary mb-2">검색</button>
            </form>
        </div>
        <table class="table table-striped" style="text-align: center">
            <thead>
            <tr>
                <th>#</th>
                <th>카드번호</th>
                <th>거래금액</th>
                <th>승인여부</th>
                <th>할부내역</th>
                <th>거래내역</th>
                <th>거래일</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="trans : ${cardTransactionDtoList}">
                <td th:text="${trans.id}"></td>
                <td th:text="${trans.cardNumber}"></td>
                <td th:text="${trans.amount}"></td>
                <td th:text="${trans.status}"></td>
                <td th:text="${trans.installment}"></td>
                <td th:text="${trans.content}"></td>
                <td th:text="${trans.createdDate}"></td>
            </tr>
            </tbody>
        </table>
    </div>
    <div th:replace="fragments/footer :: footer"/>
</div> <!-- /container -->

</body>
</html>